In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [4]:
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

In [8]:
df = df.drop(['yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country','date'],axis = 1)

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
regressor = LinearRegression()

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X = df.drop("price" , axis = 1)

In [13]:
y = df["price"]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [15]:
regressor.fit(X_train , y_train)

LinearRegression()

In [16]:
predictions = regressor.predict(X_test)

In [25]:
from sklearn.metrics import classification_report , mean_squared_error , mean_absolute_error

In [24]:
print(mean_squared_error(y_test , predictions))

182785317672.25726

In [26]:
print(mean_absolute_error(y_test , predictions))

173983.8785476506

In [27]:
import pickle

In [28]:
pickle.dump(regressor, open('model.pkl','wb'))

In [29]:
model = pickle.load(open('model.pkl','rb'))

In [34]:
print(model.predict([[3.0,1.50,1340,7912,1.5,0,0,3,1340,0]]))

[325338.62239825]

In [33]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1380 entries, 4032 to 1046
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bedrooms       1380 non-null   float64
 1   bathrooms      1380 non-null   float64
 2   sqft_living    1380 non-null   int64
 3   sqft_lot       1380 non-null   int64
 4   floors         1380 non-null   float64
 5   waterfront     1380 non-null   int64
 6   view           1380 non-null   int64
 7   condition      1380 non-null   int64
 8   sqft_above     1380 non-null   int64
 9   sqft_basement  1380 non-null   int64
dtypes: float64(3), int64(7)
memory usage: 118.6 KB

In [36]:
X_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement
2195,3.0,1.50,1290,1286,3.0,0,0,3,1290,0
631,3.0,1.00,1700,4400,1.5,0,0,4,1700,0
3670,3.0,2.50,2600,4506,2.0,0,0,3,2600,0
1958,3.0,2.00,1680,8424,1.0,0,0,3,1680,0
3284,4.0,3.25,4250,8570,2.0,0,0,3,4250,0
...,...,...,...,...,...,...,...,...,...,...
4079,3.0,2.50,1810,4592,2.0,0,0,3,1810,0
4171,4.0,2.75,2910,18700,1.0,0,0,3,2210,700
599,3.0,2.25,2450,42180,1.0,0,0,4,2450,0
1361,4.0,2.50,1982,6406,2.0,0,0,3,1982,0
1547,5.0,2.00,2450,9488,1.0,0,0,4,1240,1210